DATABASE_URL="postgresql://postgres.PROJECT_REF:SUA-SENHA@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&schema=public"
DIRECT_URL="postgresql://postgres.PROJECT_REF:SUA-SENHA@db.PROJECT_REF.supabase.co:5432/postgres?schema=public"
ADMIN_EMAIL="admin@grazitur.com"
ADMIN_PASSWORD="123456"
